//flexbox
@mixin disflex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-col() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin align_items_cent() {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin justify_content_cent() {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin justify_content_start() {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin justify_content_sp_between() {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1172px) {
  .container {
    .main-block {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: auto;
      max-width: 880px;
      &__group {
        .block-info {
          padding: 30px 0 15px 15px;
          .comp {
            @include flex-col();
            @include align_items_cent();
            span {
              width: auto !important;
              text-align: center;
            }
            img {
              margin-right: 0 !important;
            }
          }
          .time-range {
            width: 130px !important;
            margin-right: 14px !important;
          }
        }

        .block-price {
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 946px) {
  .container {
    .none {
      display: none;
    }
    .sidebar-filter {
      width: auto;
      .filter__comp {
        max-height: 132px;
      }

      .filter {
        width: 220px;
        margin-right: 16px;
      }
      .filter-clear__all {
        height: fit-content;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .container {
    .main-block {
      &__group {
        @include flex-col();
        .block-price {
          width: auto;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          @include align_items_cent();
          padding: 10px 15px 10px;

          .text-gray,
          .flex-block {
            display: none;
          }
          .btn__green {
            width: 142px;
            margin: 0 0 0 auto;
            font-size: 15px;
            line-height: 18px;
          }
          .price {
            font-size: 20px;
            line-height: 24px;
          }
        }

        .block-info {
          padding: 15px;
          .time-range {
            width: 172px !important;
            margin-right: 30px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .container .main-block__group .block-info {
    .col {
      margin-top: 10px;
    }
    .info {
      @include flex-col();
      margin-bottom: 18px;
      .date-time {
        margin-right: 14px;
        .time {
          font-size: 18px;
          line-height: 23px;
        }
      }
      // .time-range {
      //   width: 110px !important;
      //   margin-right: 14px !important;
      // }
    }
    .info-2 {
      .non-refundeble span {
        display: none;
      }
      .text-dotted {
        margin-right: 12px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container .main-block__group .block-info {
    .info {
      .time-range {
        width: 155px !important;
        margin-right: 14px !important;
      }
    }
  }
}
@media screen and (max-width: 374px) {
  .container .main-block__group {
    .block-info {
      .info {
        .time-range {
          width: 114px !important;
          margin-right: 14px !important;
        }
      }
    }
    .block-price .price {
      font-size: 18px;
    }
  }
}
